output {        
    # Send to IF
    if "InsightFinder" in [output_type]  {
        http {
            url => "{{ ifReportingUrl }}/api/v1/customprojectrawdata"
            http_method => post
            format => form

            mapping => {
                "userName" => "{{ ifUserName }}"
                "licenseKey" => "{{ ifLicenseKey }}"
                "projectName" => "%{project}"
                "agentType" => "LogStreaming"
                "metricData" => "[%{groupdata}]"
            }
        }
    }
    
    # handle parse errors    
    if "true" in [LogStashErrorPool] {
        
    } else {
        stdout { 
            codec => line { 
                format => "[%{@timestamp}] InsightFinder|Info: Posting %{count} event[s] with size: %{size} to project %{project}"
            }
        }
    }
}
