input {
    google_pubsub {
	{% if gcp_json_key_file is defined %}
	# path to json key file
	json_key_file => "/etc/logstash/keys/gcp_json_key_file"
	{% endif %}
	# Your GCP project id (name)
        project_id => "{{ pubsub_project_id }}"
        
        # Topic name. You must create this first.
        topic => "{{ pubsub_topic_name }}"
        
        # Subscription name. If create_subscription is true, 
        # you do not need to create the subscription first.
        subscription => "{{ pubsub_subscription }}"
        create_subscription => true
        
        # assume one pipeline per topic
        type => "pubsub"
        id => "{{ pubsub_topic_name }}"
        
        add_field => {
        {% if agentType == "metric-log" %}
            "project" => "{{ ifLogProjectName }}"
        {% else %}
            "project" => "{{ ifProjectName }}"
        {% endif %}
        }
    }
}
