[agent]
# the file list scan shell command. EX: find ~/Downloads -cmin -60 -type f
scan_command =

# The regex used to parse the file name. It must use named capture groups `(?<name>.*)` that correspond to the `*_field` or `data_fields` config variables below (e.g., `(?<timestamp>.*)`,  `(?<host>.*)`,  `(?<device>.*)`,  `(?<etc>.*)`).
file_name_regex =

# The regex used to parse the file content. It must use named capture groups `(?<name>.*)` that correspond to the `*_field` or `data_fields` config variables below (e.g., `(?<message1>.*)`,  `(?<message2>.*)`, `(?<etc>.*)`).
file_content_regex =

# Used for log message's content. Can also set data_fields from multiple fields which separated by commas. (e.g., message1,message2).
data_fields =

## message parsing
# timestamp format, as library [arrow]. multiple fields can be formatted together to create the timestamp a la `YYYY-MM-DD HH:mm:ss ZZ`. If multiple fields could contain the timestamp, a comma-delimited list may be entered (no value of which may use the aforementioned {formatting}), of which the first found will be selected (treating the list as a priority list). ex `timestamp1,timestamp2`
timestamp_format =
# timezone, as per pytz
timezone =
timestamp_field = timestamp
# Timezone of the timestamp data to be sent and stored in target DB (InsightFinder). Default is UTC. Only if you wish the data to be stored in other time zones in InsightFinder, this field should be specified to be the desired time zone.
target_timestamp_timezone = UTC
component_field =
# if no instance given, will set to 'Application'. Can also set instance name from multiple fields which separated by commas. Ex: instance_name_part1,instance_name_part2.
instance_field = instance
# instance_whitelist is a regex string used to define which instances will be filtered.
instance_whitelist =
# Field name of device. Can also set device name from multiple fields which separated by commas. Ex: device_name_part1,device_name_part2.
device_field =

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name =
license_key =
token =
# Name of the project created in the InsightFinder UI, If this project is not exist, agent will create it automatically.
project_name =
# Name of system owned by project. If project_name is not exist in InsightFinder, agent will create a new system automatically from this field or project_name.
system_name =
# metric, metricreplay, log, logreplay, alert, alertreplay, incident, incidentreplay, deployment, deploymentreplay, trace, tracereplay
project_type = alert
# Set to `YES` if project is container.
containerize = no
sampling_interval = 10
run_interval = 10
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =