[kafka]
# required
bootstrap_servers = localhost:9092
# required
topics = test
group_id = 
client_id =

## filters
# define a list of filters to use as field:allowed values|field:allowed values
# for example:
#   message.env:stg,prd|message.status:complete
filters_include = 
# as above, but instead include values that are not allowed
# for example:
#   message.env:dev,cde|message.status:draft
filters_exclude = 

## message parsing
# raw, csv, or json
# if raw, see the code to define a custom message parser
# we can work with you on an open source solution, or provide guidance for a private solution
data_format = 
# if csv, must give the field names. specify timestamp_field, instance_field, etc as the column number (starting at index zero).
# define the field names as timestamp,field1,field2...
csv_field_names =
# for multi-entry messages, define the top-level
# if messages are [{message1}, {message2}], set top_level = []
# it's expected that the top level will be a list
json_top_level = 
# give format as per python strptime
timestamp_format = 
# fields in json can be defined as level0.level.timestamp
timestamp_field = 
# if no instance given, the local hostname will be used
instance_field = 
device_field = 
# multiple fields are separated by commas.
data_fields =

## proxy
agent_http_proxy =
agent_https_proxy =

## SSL
# set to SSL to use SSL
security_protocol = 
ssl_context =
# true or false
ssl_check_hostname = 
ssl_cafile =
ssl_certificatefile =
ssl_keyfile = 
ssl_password = 
ssl_crlfile = 
ssl_ciphers = 

## SASL
# valid options are PLAIN GSSAPI OAUTHBEARER
sasl_mechanism = 
sasl_plain_username = 
sasl_plain_password = 
sasl_kerberos_service_name = 
sasl_kerberos_domain_name = 
sasl_oauth_token_provider =

[insightfinder]
user_name = 
license_key = 
project_name = 
# metric, metricreplay, log, logreplay, incident, incidentreplay, alert, alertreplay, deployment, deploymentreplay
project_type = 
sampling_interval = 10
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =

