{{ ansible_managed | comment }}

########################## Metricbeat Configuration ###########################

#==========================  Modules configuration =============================
metricbeat.modules:

#-------------------------------- System Module --------------------------------
- module: system
  metricsets:
    - cpu             # CPU usage
    - memory          # Memory usage
    - fsstat          # File system summary metrics
    - diskio          # Disk IO
    - network         # Network IO
    - load            # CPU load averages
    - process_summary # Process summary
  enabled: true
{% if samplingInterval %}
  period: {{ samplingInterval }}
{% else %}
  period: {{ metricbeat_modules_system_period }}
{% endif %}

#================================ General ======================================
{% if metricbeat_general_conf %}
{{ metricbeat_general_conf | to_nice_yaml(indent=2) }}
{% endif %}

#================================ Processors ===================================
processors:
- add_host_metadata:
    netinfo.enabled: true


#================================ Outputs ======================================
#----------------------------- Logstash output ---------------------------------
output.logstash:
  enabled: {{ metricbeat_output_logstash_enabled }}
{% if beatsLogstashHosts %}
  hosts: {{ beatsLogstashHosts }}
{% else %}
  hosts: ["{{ metricbeat_output_logstash_hosts }}"]
{% endif %}
  loadbalance: true


#================================ Logging ======================================
logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/metricbeat
  name: metricbeat
  permissions: 0644
