API_KEY=your_asset_server_api_key

JIRA_EMAIL=you@company.com
JIRA_API_TOKEN=your_jira_api_token

SUPPORT_ENGINEERS_URL=http://{baseurl}/support-engineers
JIRA_SITE_URL=https://{orgname}.atlassian.net

IF_BASE_URL=https://app.insightfinder.com
IF_USERNAME=your_insightfinder_username
IF_LICENSE_KEY=your_insightfinder_license_key
IF_SYSTEM_NAME=AccessParks
