[agent]
# uri to prometheus API as scheme://host:port
prometheus_uri = http://localhost:9090

## metrics
# metrics to query for. If none specified, all metrics returned from /api/v1/label/__names__/values will be used
metrics = 
# label selector to use when querying for metrics, ie {namespace="monitoring"}
query_label_selector = 

## alerts
alert_data_fields = 
# define a list of filters to use as field:allowed values|field:allowed values
# for example:
#   message.env:stg,prd|message.status:complete
alert_filters_include = 
# as above, but instead define values that are not allowed
# for example:
#   message.env:dev,cde|message.status:draft:
alert_filters_exclude =

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name = 
license_key = 
token =
project_name = 
project_name_alert = 
# metric and/or (comma-delimited) one of log, alert, deployment, incident
project_type = metric
# how often to run the agent
run_interval = 10
# how frequently data is reported
sampling_interval = 1
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =
