[agent]
# uri to prometheus API as scheme://host:port
prometheus_uri = http://localhost:9090
query_label_selector = {namespace="default"}
metrics = up
alert_data_fields =

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name = 
license_key = 
token =
project_name = 
project_name_alert = 
# optionally add (comma-delimited) one of log, alert, deployment, incident
project_type = metric
sampling_interval = 10
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =
