[kafka]
bootstrap_servers = {{ kafkaBootstrapServers }}
topic = {{ kafkaIncidentTopic }}
filter_hosts = {{ filterHosts }}
client_id = 
group_id = 
insightFinder_license_key = {{ ifLicenseKey }}
insightFinder_project_name = {{ ifProjectName }}
insightFinder_user_name = {{ ifUserName }}
sampling_interval = {{ ifSamplingInterval }}
