[centerity]
# Timezone of the timestamp data to be sent and stored in target DB (InsightFinder). Default is UTC. Only if you wish the data to be stored in other time zones in InsightFinder, this field should be specified to be the desired time zone.
target_timestamp_timezone = UTC

# request timeout in seconds, default is 60
request_timeout =

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name =
license_key =
token =
# Name of system owned by project. If system_name does not exist in InsightFinder, agent will create a new system automatically from this field or project_name.
system_name =
# Name of the project created in the InsightFinder UI. If this project does not exist, agent will create it automatically.
project_name =
# metric, metricreplay, log, logreplay, incident, incidentreplay, alert, alertreplay, deployment, deploymentreplay
project_type = metric
# supported collector types: centerity
collector_type =
sampling_interval = 5
run_interval = 5
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =
