[kafka]
bootstrap_servers = localhost:9092
topic = 
filter_hosts =
client_id =
group_id =
insightFinder_license_key =
insightFinder_project_name =
insightFinder_user_name =
sampling_interval =
use_ssl = false
ssl_key = 
ssl_ca =
ssl_certificate =

