[general]
# The name space needed to monitor: "kube-system, insightfinder"
namespace = insightfinder

[loki]
## Loki info
# required
endpoint = http://localhost:9090

[insightfinder]
user_name =
license_key =
token =
# Name of the project created in the InsightFinder UI.
project_name = stg-k8s-logs

# Prefix of the project name
project_name_prefix =

# Name of system owned by project.
system_name = IF Staging

# metric, metricreplay, log, logreplay, alert, alertreplay, incident, incidentreplay, deployment, deploymentreplay, trace, tracereplay
project_type = log
run_interval = 1
indexing = false

if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =
metadata_max_instances =
