[prometheus]
endpoint = http://prometheus-server.monitor.svc.cluster.local
user =
password =

[general]
target = pod
namespace = insightfinder

[insightfinder]
user_name = user
license_key =
project_name = stg-metrics
system_name = IF Staging
project_type = metric
if_url = https://app.insightfinder.com
sampling_interval = 1

