[newrelic]
api_key = 
# application-level metrics (app) or host-level (host)
app_or_host = host
# applications to include (default all)
app_name_filter = 
# hosts to include (default all)
host_filter = 
# metrics to include (default all)
# this should be formatted as metric_name:value|value,metric_name:value|value
metrics = CPU/User Time:percent,Memory/Heap/Used:used_mb_by_host,Memory/Physical:used_mb_by_host,Instance/connectsReqPerMin:requests_per_minute,Controller/reports/show:average_response_time|calls_per_minute|call_count|min_response_time|max_response_time|average_exclusive_time|average_value|total_call_time_per_minute|requests_per_minute|standard_deviation|throughput|average_call_time|min_call_time|max_call_time|total_call_time
# how frequently (in min) to run this agent (must change value here and in /etc/cron.d/ifagent)
run_interval = 
agent_http_proxy = 
agent_https_proxy = 

[insightfinder]
user_name = 
license_key = 
project_name = 
sampling_interval = 
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
url = https://app.insightfinder.com
if_http_proxy = 
if_https_proxy = 
