# Build the golang package for linux using CGO_ENABLED=0 go build

[powerFlex]
# instance type in the Dell PowerFlex.  PowerFlex API doc: https://developer.dell.com/apis/4008/versions/3.5.1/PowerFlex_3.5.1_API.json
instanceType = ProtectionDomain 

# Specify the metrics file(list all the needed metrics there) in this section. It should be located inside conf.d directory.
# The metrics info in the txt file should be one metric per line. NESTED STRCUTURE IS NOT SUPPORTED.
metricPath = sampleMetricListFile.json

# ----------------------------------- the connection setting ---------------------------------------------
userName = 
password = 
# The main host URL.
connectionUrl = 

# These endpoint doesn't need to be changed if using the API from PowerFlex Doc
idEndPoint = /api/types/{$instanceType}/instances

# timeStamp will be using the current time
timezone = UTC
# Timezone of the timestamp data to be sent and stored in target DB (InsightFinder). Default is UTC. Only if you wish the data to be stored in other time zones in InsightFinder, this field should be specified to be the desired time zone.
target_timestamp_timezone = UTC

## proxy
agent_http_proxy =
agent_https_proxy =

[powerScale]
https://developer.dell.com/apis/4088/versions/9.2.0.0/docs/1introduction.md
# Specify the metrics file(list all the needed metrics there) in this section. It should be located inside conf.d directory.
# The metrics info in the txt file should be one metric per line. NESTED STRCUTURE IS NOT SUPPORTED.
metricPath = sampleMetricListFile.json
instanceNameField = node
timeStampField = time

# ----------------------------------- the connection setting ---------------------------------------------
userName = 
password = 
# The main host URL.
connectionUrl = 

# timeStamp will be using the current time
timezone = UTC
# Timezone of the timestamp data to be sent and stored in target DB (InsightFinder). Default is UTC. Only if you wish the data to be stored in other time zones in InsightFinder, this field should be specified to be the desired time zone.
target_timestamp_timezone = UTC

## proxy
agent_http_proxy =
agent_https_proxy =

[powerStore]
# Specify the API endpoints and the metrics needed from each endpoint in one json file. It should be located inside conf.d directory.
# Object with the metric name will be read and together with whatever inside that object.
# NESTED STRCUTURE to sepcify key within each metric object IS NOT SUPPORTED.
metricPath = sampleMetricListFile.json
timeStampField = timestamp
instanceType = cluster
instanceNameField = cluster_id
# The metric data interval output from server. Choose from: Best_Available,Five_Sec,Twenty_Sec,Five_Mins,One_Hour,One_Day
metric_interval_from_server = Five_Mins


# ----------------------------------- the connection setting ---------------------------------------------
userName = 
password = 
# The main host URL.
connectionUrl = 

# timeStamp will be using the current time
timezone = UTC
# Timezone of the timestamp data to be sent and stored in target DB (InsightFinder). Default is UTC. Only if you wish the data to be stored in other time zones in InsightFinder, this field should be specified to be the desired time zone.
target_timestamp_timezone = UTC

## proxy
agent_http_proxy =
agent_https_proxy =

[power_store_log]
# Specify the API endpoints and the metrics needed from each endpoint in one json file. It should be located inside conf.d directory.
# Object with the metric name will be read and together with whatever inside that object.
# NESTED STRCUTURE to sepcify key within each metric object IS NOT SUPPORTED.
logPath = audit_event.json
timeStampField = timestamp
instanceNameField = server_address

# ----------------------------------- the connection setting ---------------------------------------------
userName = aaa
password = aaa
# The main host URL.
connectionUrl = https://example.com

# timeStamp will be using the current time
timezone = UTC
# Timezone of the timestamp data to be sent and stored in target DB (InsightFinder). Default is UTC. Only if you wish the data to be stored in other time zones in InsightFinder, this field should be specified to be the desired time zone.
target_timestamp_timezone = UTC

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name =
license_key =
token =
# Name of the project created in the InsightFinder UI. If this project does not exist, agent will create it automatically. If multiple projects, seperate project names by `;`, like project_1;project_2
project_name = 
# Prefix of the project name, the rest of the project name will be used as the system name
project_name_prefix =
# Name of system owned by project. If project_name does not exist in InsightFinder, agent will create a new system automatically from this field or project_name.
system_name = 
# metric, metricreplay, log, logreplay, alert, alertreplay, incident, incidentreplay, deployment, deploymentreplay, trace, tracereplay
project_type = metric
sampling_interval = 10
run_interval = 5

if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =
metadata_max_instances = 