BAICELLS_URL=https://cloudcore.baicells.com:7085
BAICELLS_USERNAME=maoyu
BAICELLS_PASSWORD=

# InsightFinder Configuration
INSIGHTFINDER_BASE_URL="https://stg.insightfinder.com"
INSIGHTFINDER_USER_NAME="user"
INSIGHTFINDER_LICENSE_KEY=""
INSIGHTFINDER_PROJECT_NAME="baicells-metrics"
INSIGHTFINDER_SYSTEM_NAME=""
INSIGHTFINDER_SAMPLING_INTERVAL="15"  # in minutes
