check process kafka_logs matching "kafka_logs/getlogs_kafka.py"
    start program = "/usr/bin/nohup /usr/bin/python {{ansible_env.HOME}}/InsightAgent-master/kafka_logs/getlogs_kafka.py -d {{ansible_env.HOME}}/InsightAgent-master/ -w {{ reportingUrl }} -l 500 2>{{ansible_env.HOME}}/InsightAgent-master/log/reporting.err 1>{{ansible_env.HOME}}/InsightAgent-master/log/reporting.out &" with timeout 20 seconds
