[agent]
## Elasticsearch
# a comma delimited list of RFC-1738 formatted urls <scheme>://[<username>:<password>@]hostname:port
es_uris = 
# json to add to the query body
query_json =
# The maximum messages number of each query, default is 1000
query_page_size = 1000
# indexes to search over 
indeces = .monitoring-beat*

## parameters for all hosts
# port to connect to (Can be parsed from url)
port =
# username:password (Can be parsed from url)
http_auth =
# True or False (True if uri scheme is https)
use_ssl =
# True or False - use hostname verification
ssl_assert_hostname =
# True or False - use fingerprint verification
ssl_assert_fingerprint =
# Version of SSL to use - one of SSLv23 (default), SSLv2, SSLv3, TLSv1
ssl_version =
# True or False
verify_certs =
# path to ca bundle
ca_certs =
# path to client cert
client_cert =
# path to client key
client_key =

## replay date range
# start date/time in ISO8601 ie 2020-01-01T12:00:00Z
_from = 
# as above, but end time
_to = 

## filters
# define a list of filters to use as field:allowed values|field:allowed values
# for example:
#   message.env:stg,prd|message.status:complete
filters_include = 
# as above, but instead define values that are not allowed
# for example:
#   message.env:dev,cde|message.status:draft
filters_exclude = type:beats_state

## message parsing
# for multi-entry messages, define the top-level
# if messages are [{message1}, {message2}], set top_level = []
# it's expected that the top level will be a list
json_top_level = _source
# give format as per python strptime
timestamp_format = 
# fields in json can be defined as level0.level.timestamp
timestamp_field = beats_stats.timestamp
# if no instance given, the local hostname will be used
instance_field = source_node.host
device_field = 
# multiple fields are separated by commas.
data_fields = beats_stats.metrics

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name = 
license_key = 
token =
project_name = 
# metric, metricreplay, log, logreplay, incident, incidentreplay, alert, alertreplay, deployment, deploymentreplay
project_type = 
sampling_interval = 10s
run_interval = 1
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =
