[agent]
# AWS access key
aws_access_key_id =

# AWS secret
aws_secret_access_key =

# AWS region name
aws_region =

# AWS S3 bucket name
aws_s3_bucket_name =
aws_s3_metadata_bucket_name =

# prefix for AWS s3 objects
aws_s3_object_prefix =
aws_s3_metadata_object_prefix =

## message parsing
# timezone, as per pytz
timezone =
timestamp_field =
# Timezone of the timestamp data to be sent and stored in target DB (InsightFinder). Default is UTC. Only if you wish the data to be stored in other time zones in InsightFinder, this field should be specified to be the desired time zone.
target_timestamp_timezone = UTC

# if no instance given, will set to 'Application'. Can also set instance name from multiple fields which separated by commas. Ex: instance_name_part1,instance_name_part2.
instance_field =
# instance_whitelist is a regex string used to define which instances will be filtered.
instance_whitelist =

metadata_instance_field =
metadata_component_field =

# Metric names, multiple fields are separated by commas. A field can be named with the syntax `<metric_name>::<metric_value>`, where `<metric_name>` and `<metric_value>` can each be either a field name in message. Ex: metric1,metric_field::metric_value_field.
metric_fields =
# metrics_whitelist is a regex string used to define which metrics will be filtered.
metric_whitelist =

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name =
license_key =
token =
# Name of the project created in the InsightFinder UI. If this project does not exist, agent will create it automatically.
project_name =
# Name of system owned by project. If project_name does not exist in InsightFinder, agent will create a new system automatically from this field or project_name.
system_name =
# Prefix of the project name. This combines with the component in the metadata to build the project name.
project_name_prefix =
# metric, metricreplay, log, logreplay, alert, alertreplay, incident, incidentreplay, deployment, deploymentreplay, trace, tracereplay

# the max number of instances to send in a metadata message
metadata_max_instances =

project_type = metric
sampling_interval = 5
run_interval = 5

if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =
