[agent]
## kafka info
# Comma separated list of kafka boostrap servers (eg: 192.168.1.1:9092,192.168.1.2:9092) - Required 
bootstrap_servers = 
# Comma separated list of kafka topics to subscribe to - Required
topics = 
# Kafka Group ID - Required
group_id = 
client_id =

## SSL
# set to SSL to use SSL
security_protocol =
ssl_context =
# true or false
ssl_check_hostname =
ssl_cafile =
ssl_certfile =
ssl_keyfile =
ssl_password =
ssl_crlfile =
ssl_ciphers =

## SASL
# valid options are PLAIN GSSAPI OAUTHBEARER
sasl_mechanism =
sasl_plain_username =
sasl_plain_password =
sasl_kerberos_service_name =
sasl_kerberos_domain_name =
sasl_oauth_token_provider =

# Optional preprocessing filter (regex) to eliminate raw data from being parsed. Data must match filter to be parsed if set
initial_filter = 

# if raw data, the regex used to parse the log. It must use named capture groups `(?<name>.*)` that correspond to the *_field config variables below (ie  `(?<timestamp>.*)`,  `(?<host>.*)`,  `(?<device>.*)`,  `(?<etc>.*)`.
raw_regex = 

# Field that contains the project name. If this field is empty, agent will use project_name in insightfinder section
project_field = 
# project_whitelist is a regex string used to define which projects form project_field will be filtered.
project_whitelist =

# Field that contains the metric name - Required
metric_field = 
# metrics_whitelist is a regex string used to define which metrics will be filtered.
metrics_whitelist =

## message parsing
# timezone, as per pytz
timezone =
# Field that contains the timestamp - Required 
timestamp_field = 
# Timezone of the timestamp data to be sent and stored in target DB (InsightFinder). Default is UTC. Only if you wish the data to be stored in other time zones in InsightFinder, this field should be specified to be the desired time zone.
target_timestamp_timezone = UTC
component_field =
# if no instance given, the local hostname will be used. Can also use {field} formatting or a priority list. - Required
instance_field = 
# instance_whitelist is a regex string used to define which instances will be filtered.
instance_whitelist =
device_field =
# multiple of sampling_interval witch buffered the metric data. Default is 2 multiple
buffer_sampling_interval_multiple = 2

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name =
license_key =
token =
# Name of the project created in the InsightFinder UI. If this project does not exist, agent will create it automatically.
project_name =
# Name of system owned by project. If project_name does not exist in InsightFinder, agent will create a new system automatically from this field or project_name.
system_name =
# metric, metricreplay, log, logreplay, alert, alertreplay, incident, incidentreplay, deployment, deploymentreplay, trace, tracereplay
project_type = metric
sampling_interval = 1
run_interval = 1
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =
