<match iflog.**>
  type InsightFinder
  flush_interval {{samplingInterval}}s
  buffer_chunk_limit 200k
# Endpoint for messages
  destinationHost {{ reportingUrl }}/customprojectrawdata
#Comma separated list of http statuses which need to be retried
  http_retry_statuses 500,403
#Read timeout in seconds, supports floats
  http_read_timeout 2.2
#Open timeout in seconds, supports floats
  http_open_timeout 2.34
  userName {{ userName }}
  projectName {{ projectName }}
 #instancename (leave blank to use hostname)
  instanceName
 #License Key
  licenseKey {{ licenseKey }}
 #Instance Type
  instanceType AWS
</match>
<source>
  @type tail
  # Uncomment the lines below to read from syslog
  #format /^(?<time>[A-Z][a-z][a-z] (([1-3][0-9])| [1-9]) [0-9][0-9]:[0-9][0-9]:[0-9][0-9]) (?<data>.*)$/
  #time_format %b %e %H:%M:%S
  #path /var/log/messages
  ############################################
  #format /^(?<time>\d{4}-\d{2}-\d{2}T[0-9][0-9]:[0-9][0-9]:[0-9][0-9]).\d{6}\+\d{2}:\d{2} (?<data>.*)$/
  #time_format %FT%H:%M:%S
  #path /var/log/messages
  ###########################################
  # Read from paas logs
  #format multiline
  #format_firstline /[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9] [0-9][0-9]:[0-9][0-9]:[0-9][0-9]/
  #format1 /^(?<time>[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9] [0-9][0-9]:[0-9][0-9]:[0-9][0-9]).\d{6} (?<data>.*)$/
  #time_format %F %H:%M:%S
  #path /usr1/paas/log/k8s_etcd_%Y%m%d* , /usr1/paas/log/fed_etcd_%Y%m%d*
  ############################################
  format multiline
  format_firstline /[A-Z][a-z][a-z] (([0-3][0-9])| [0-9])\, \d{4} ([0-9]|[0-9][0-9]):[0-9][0-9]:[0-9][0-9] (A|P)M/
  format1 /^(?<time>[A-Z][a-z][a-z] (([0-3][0-9])| [0-9])\, \d{4} ([0-9]|[0-9][0-9]):[0-9][0-9]:[0-9][0-9] (A|P)M) (?<data>.*)$/
  time_format %b %d, %Y %H:%M:%S %p
  path /opt/jetty/logs/%Y_%m_*.stderrout.log
  #############################################
#  format multiline
#  format_firstline /(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2}),(\d{3})/
#  format1 /^(?<time>(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2}),(\d{3})) (?<data>.*)$/
#  time_format %Y-%m-%d %H:%M:%S,%N
#  path /usr/local/HBase/logs/*.log
  #############################################
  pos_file /tmp/log.pos
  encoding ISO-8859-1
  tag "iflog.#{Socket.gethostname}"
  keep_time_key true
</source>
