[InsightFinder]
#The user name of the account
insightFinder_user_name =
#The customer account license key, following the toturial to get it
insightFinder_license_key =
#The project name
insightFinder_project_name =
#The IF server url to send the data: https://app.insightfinder.com
insightFinder_server_url = https://app.insightfinder.com

# fake data time range, ex: 2021-07-01 00:00:00,2021-07-02 00:00:00
fake_data_time_range = 2021-07-02 00:00:00,2021-07-02 01:00:00
# fake data interval (minute)
fake_data_interval = 1
fake_data_instance_count = 5000
fake_data_metric_count = 10
