[agent]
## kafka info
# Comma separated list of kafka boostrap servers (eg: 192.168.1.1:9092,192.168.1.2:9092) - Required
bootstrap.servers =
# Kafka Group ID - Required
group.id =
client.id =
# If you use Kafka broker 0.9 or 0.8 you must set api.version.request=false and set broker.version.fallback to your broker version, e.g broker.version.fallback=0.9.0.1
api.version.request = true
broker.version.fallback =

# Please enter the number of partitions
partitions =

# Comma separated list of kafka topics to subscribe to - Required
topics =
# Set to avro schema url if use avro
schema.registry.url =
basic.auth.credentials.source =
basic.auth.user.info =


## SSL, please refer document: https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md to set SSL config vars.
# set to 'SSL' (or 'SASL_SSL' if SASL authentication is used).
security.protocol =
ssl.ca.location =
# ssl.key.location =
# ssl.key.password =
# ssl.certificate.location =
# ssl.crl.location =
# ssl.keystore.location =
# ssl.keystore.password =
# ssl.engine.location =

sasl.mechanisms =
# sasl.mechanism =
sasl.username =
sasl.password =
# sasl.kerberos.service.name =
# sasl.kerberos.principal =
# sasl.oauthbearer.config =
# enable.sasl.oauthbearer.unsecure.jwt =
# sasl.oauthbearer.method =
# sasl.oauthbearer.client.id =
# sasl.oauthbearer.client.secret =
# sasl.oauthbearer.scope =
# sasl.oauthbearer.extensions =
# sasl.oauthbearer.token.endpoint.url =