#example for config
#if done locally bootstrap_servers = localhost:9092
[kafka]
bootstrap_servers =
topic =
filter_hosts =
all_metrics =

#the normalization id needs to be given between 0 and 1000
normalization_id =
insightFinder_license_key =
insightFinder_project_name =
insightFinder_user_name =
sampling_interval =
client_id = 
