#example for config
#if done locally bootstrap_servers = localhost:9092
[kafka]
bootstrap_servers =
topic =
filter_hosts =
all_metrics =
use_ssl = false
ssl_key = 
ssl_ca =
ssl_certificate =

insightFinder_license_key =
insightFinder_project_name =
insightFinder_user_name =
sampling_interval =
group_id =
client_id =
#by default is equivalent to sampling interval
data_send_timeout =
