apiVersion: v1
kind: ConfigMap
metadata:
  name: if-kubernetes-config
data:
  {{- range $key, $project := .Values.projects }}
  {{$project.name}}.ini: |

    {{- if eq $project.type "metric" }}
    [prometheus]
    endpoint = {{ $.Values.prometheus.endpoint }}
    user = {{ $.Values.prometheus.username | default ""}}
    password = {{ $.Values.prometheus.password | default ""}}
    {{- end }}

    {{- if eq $project.type "log" }}
    [loki]
    endpoint = {{ $.Values.loki.endpoint }}
    user = {{ $.Values.loki.username | default "" }}
    password = {{ $.Values.loki.password | default "" }}
    {{- end }}

    [general]
    target = {{$project.target}}
    type = {{ $project.type }}

    {{- if eq $project.target "pvc" }}
    namespace={{ $project.namespace | default "default" }}
    {{- end }}

    {{- if ne $project.target "node" }}
    namespace = {{ $project.namespace | default "default" }}

    {{- if $project.hide_component_name_prefix}}
    hide_component_name_prefix={{ $project.hide_component_name_prefix | default "" }}
    {{- end}}

    {{- end }}

    {{- if eq $project.target "node" }}
    node_component_name = k8s Hosts
    {{- end }}

    [insightfinder]
    user_name = {{ $.Values.insightfinder.user_name }}
    license_key = {{ $.Values.insightfinder.license_key }}
    project_name = {{ $project.name }}
    system_name = {{ $.Values.insightfinder.system_name }}
    {{- if eq $project.type "event" }}
    project_type = log
    {{- else }}
    project_type = {{ $project.type }}
    {{- end }}

    if_url = {{ $.Values.insightfinder.url }}
    sampling_interval = 1

  {{- end }}
