[agent]
# path to the file or directory of files to replay
#   if a directory, indicate so by including a trailing '/'
file_path = 
# delimiter used between fields, ie , for csv or \t for tsv
field_delimiter = 

## filters
# define a list of filters to use as field:allowed values|field:allowed values
# for example:
#   message.env:stg,prd|message.status:complete
filters_include = 
# as above, but instead include values that are not allowed
# for example:
#   message.env:dev,cde|message.status:draft
filters_exclude = 

## message parsing
# if csv, must give the field names. specify timestamp_field, instance_field, etc as the column number (starting at index zero).
# define the field names as timestamp,field1,field2...
csv_field_names = 
# give format as per python strptime
timestamp_format = epoch
# fields in json can be defined as level0.level.timestamp
timestamp_field = timestamp
# if no instance given, the local hostname will be used
instance_field = host
device_field = 
# multiple fields are separated by commas.
data_fields = 

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name = 
license_key = 
token =
project_name = 
# metric, metricreplay, log, logreplay, incident, incidentreplay, alert, alertreplay, deployment, deploymentreplay
project_type = metricreplay
sampling_interval = 10
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =
