[agent]
## API
# base url for the API, ie `https://frontend.com`
base_url = 
# endpoint for the API, ie `/api/v1/messages`
api_endpoint = /api/now/v1/table/incident
username = 
# do not set password below. Instead, run `python ifobfuscate.py`
password_encrypted = 

## filters
# define a list of filters to use as field:allowed values|field:allowed values
# for example:
#   message.env:stg,prd|message.status:complete
filters_include = 
# as above, but instead define values that are not allowed
# for example:
#   message.env:dev,cde|message.status:draft
filters_exclude = 
sysparm_query = 

# for multi-entry messages, define the top-level
# fields in json can be defined as level0.level1.levelN
json_top_level = result

## message parsing
# timestamp format, as per python strptime. multiple fields can be formatted together to create the timestamp a la `{date} {time}`, where `date` and `time` are fields that each contain part of the timestamp. If multiple fields could contain the timestamp, a comma-delimited list may be entered (no value of which may use the aforementioned {formatting}), of which the first found will be selected (treating the list as a priority list). ex `timestamp1,timestamp2`
timestamp_format = %Y-%m-%d %H:%M:%S
# timezone, as per pytz
timezone = 
timestamp_field = sys_updated_on
# if no instance given, the local hostname will be used. Can also use {field} formatting or a priority list.
instance_field = 
device_field = 
# multiple fields are separated by commas. a field can be named with the syntax `<name>::<value>` or `<name>::==<value>`, where `<name>` and `<value>` can each be either a literal value (`name::value`) or formatted (`total time [{step}]::=={timing.end}-{timing.start}`). Use `::==` as a separator to treat `<value>` as a mathematical formula, which must be parseable by `eval()`.
data_fields =
instance_regex =
instance_key = 
#YYYY-MM-DD
start_time = 
end_time =
is_historical=

## proxy
agent_http_proxy =
agent_https_proxy =

[insightfinder]
user_name = 
license_key = 
token =
project_name = 
# metric, metricreplay, log, logreplay, incident, incidentreplay, alert, alertreplay, deployment, deploymentreplay
project_type = 
sampling_interval = 1
run_interval = 10
# what size to limit chunks sent to IF to, as kb
chunk_size_kb = 2048
if_url = https://app.insightfinder.com
if_http_proxy =
if_https_proxy =

[state]
sysparm_offset = 0
